@charset "UTF-8";


:root{ /* Config das variaveis */
    --bg_color: #E0E8FF;
    --font_text_color: #7B7E91;
    --box_annual_plan_color: #F8F9FE;
    --font_padrao: Arial, Helvetica, sans-serif;
}

*{ /* Configurações gerais */
    padding: 0px;
    margin: 0px;
}


body{ /* Cor de fundo do site */
    background-color: var(--bg_color);
}

main{ /* Padding principal */
    padding-top: 60px;
    padding-bottom: 60px;   
}


main div{ /* Alinhamento dos itens */
    display: flex;
    justify-content: center;
}

main div#foto_pessoa img{ /* Bordas da imagem */ 
    
    border: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main div#box_conteudo{ /*  Container das info  */ 
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.144);
    display: block;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 400px;
    margin: auto;
    min-width: 300px;
    max-width: 450px;
    background-color: white;
}

main div#box_conteudo p{ /* Configurações dos textos pequenos*/
    font-size: 0.9em;
    font-family: var(--font_padrao);
    text-align: center;
    max-width: 330px;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 55px;
    color: var(--font_text_color);
}

main div#box_conteudo h1{ /* Titulo do Conteudo */
    padding-top: 30px;
    font-size: 1.7em;
    text-shadow: 1px 2px 5px rgba(45, 45, 45, 0.133);
    color: black;
    font-weight: bold;
    font-family: var(--font_padrao);
}

main div#box_conteudo div#offer_plan{ /* Caixa da oferta anual */
    border: 10px;
    border-radius: 20px;
    width: 350px;
    padding: 15px;
    background-color: var(--box_annual_plan_color);
    display: flex;
    justify-content: left;

}

main div#box_conteudo img{ /* Tamanho do icone Music do plano anual */
    padding-left: 20px;
    padding-top: 3px;
    width: 48px;
    height: 48px;
}


main div#box_conteudo div#offer_plan div#textos{ /* Caixa separada para os textos da oferta */
    padding-right: 40px;
    display: block;
}

main div#box_conteudo div#offer_plan div#textos p#text_plano{ /*  Configurações do texto "Annual Plan"  */
    font-size: 0.95em;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 20px;
}

main div#box_conteudo div#offer_plan div#textos p#text_valor{ /* Padding do valor do plano anual */
   padding: 5px;
}

main div#box_conteudo div#box_plan div#offer_plan p{ /* Texto change para mudança de plano */
    margin: auto;
    padding: 0px;
}

main div#box_conteudo div#buttons{ /* Box dos botões */ 
    padding-top: 25px;
    display: block;
}

main div#box_conteudo div#buttons a#button_1{ /* Config do button 1 */
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.211);
    font-weight: bold;
    font-family: var(--font_padrao);
    padding: 18px;
    border: 10px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    width: 380px;
}

main div#box_conteudo div#buttons div a#button_2{
    padding-top: 25px;
    font-family: var(--font_padrao);
    text-decoration: none;
    font-weight: bold;
    color: #7c8092;
}






