@charset "UTF-8";


:root{ /* Config das variaveis */
    --bg_color: #E0E8FF;
    --font_text_color: #7B7E91;
    --font_padrao: Arial, Helvetica, sans-serif;
}

*{ /* Configurações gerais */
    padding: 0px;
    margin: 0px;
}


body{ /* Cor de fundo do site */
    background-color: var(--bg_color);
}

main{ /* Padding principal */
    padding-top: 60px;   
}

main div{ /* Alinhamento dos itens */
    display: flex;
    justify-content: center;
}

main div#foto_pessoa img{ /* Bordas da imagem */ 
    border: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main div#conteudo{ /*  Container das info  */ 
    display: block;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 400px;
    margin: auto;
    min-width: 200px;
    max-width: 455px;
    background-color: white;
}

main div#conteudo p{ /* Configurações dos textos pequenos*/
    font-size: 0.9em;
    font-family: var(--font_padrao);
    text-align: center;
    max-width: 330px;
    font-weight: lighter;
    padding-top: 20px;
    padding-left: 55px;
    color: var(--font_text_color);
}

main div#conteudo h1{ /* Titulo do Conteudo */
    padding-top: 30px;
    font-size: 1.7em;
    text-shadow: 1px 2px 5px rgba(45, 45, 45, 0.133);
    color: black;
    font-weight: bold;
    font-family: var(--font_padrao);
}







