@charset "UTF-8";


body{
    background-image: url('img/wallpaper002.jpg');
}


div.quadrado{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}

div#q1{
    background-color: lightblue;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);   
}

div#q3{
    background-image: url('img/wallpaper003.jpg');    
}