@charset "UTF-8";


:root{ /* Variáveis */
    --bg_color: white;
    --font_padrao: Arial, Helvetica, sans-serif;
}


*{    /* Config geral do site */
    margin: 0px;
    padding: 0px;
}

a{ /* Config dos clicáveis */
    font-size: 0.8em;
    font-family: var(--font_padrao);
    text-decoration: none;
}

a.clicaveis{ /* Padding dos butao*/
    padding: 15px;
}

div > nav{
    display: none;
}



div:hover > nav{
    transition: 1s;
    position: absolute;
    display: block;
}

nav{
    transition: 1s;
    background-color: black;
    height: 100px;
    width: 100px;

}
.states{
    padding: 12px;
}

header div#box_header{ /* Caixa dos elementos do header */
    padding: 20px;
    display: flex;
    justify-content: start;

}

header div#box_header div#client_button div#border_register{ /* Border register */
    padding: 5px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 5px;
}

header div#box_header div#client_button a#button_registrar{ /* Config do button register*/
    
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

header div#box_header div#client_button{ /* Box dos button login e register */
    text-align: center;
    display: flex;
    margin: auto;
    padding-left: 500px;
}

header div#box_header a{ /* Espaçamento dos clicaveis */
    margin: auto;
    color: gray;
}


header div#box_header a:hover{ /* Passar o mouse por cima dos itens */
    
    color: black;
}

header div#box_header a#main_text{ /* Config do texto snap */
    
    color: black;
    font-size: 2.2em;
    font-weight: bold;
}




