@charset "UTF-8";

/* Class, id, img etc*/


a:hover{
    padding: 0.5px;
    transition: 0.8s;
    color: var(--name_color);
}

img#profile_image{
    margin-top: 40px;
    border-radius: 50%;
    display: block;
    min-width: 100px;
    max-width: 250px;
}



h2#about_me{
    padding: 5px;
    margin-top: 120px;
    margin-left: 20px;
    color: var(--name_color);
}

aside > img#profile_image:hover{
    transition: 1s;
    cursor: pointer;
    border: 7px solid var(--border_color);
}

.text_content{
    font-weight: normal;
    text-align: justify;
    padding: 15px;
    color: white;
    text-indent: 10px;
    max-width: 800px;
}

.footer{
    font-size: 15px;
}