@charset "UTF-8";


@font-face {
    font-family: 'passion';
    src: url(font/PassionOne-Regular.ttf);
}

@font-face {
    font-family: 'sriracha';
    src: url(font/Sriracha-Regular.ttf);
}


:root{
    --header_color: black;
    --text_color: white;
}

*{
    margin: 0px;
    padding: 0px;
}

header{ /* Cabeçalho do Site */ 
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.451);
    background-color: var(--header_color);
    max-width: auto;
    min-width: 400px;
    padding: 20px;

}

header div#text_header{  /* Div com os textos */
    padding-top: 40px;
    text-align: center;
    display: block;
}

h1{
    font-variant: small-caps;
    color: var(--text_color);
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 10vw;
    font-family: 'passion';
}

p{
    font-weight: normal;
    font-family: 'passion';
    color: lightgray;
}

p.text_estrofe{ /* Versos das estrofes */
    
    font-weight: normal;
    max-width: 750px;
    color: black;
    font-family: 'sriracha';
}

a{
    transition: 0.5s;
    color: var(--text_color);
    text-decoration: none;
}

section.bloco div.estrofe{ /* Bloco da primeira estrofe */
    font-size: 4.5vw;
    padding: 50px;
}

section.bloco div.background_img div.estrofe p#img_text{ /* Config dos BG dos texto com imagem*/
    max-width: 750px;
    padding: 10px;
    background-color: rgba(44, 44, 44, 0.519);
    color: white;
}

section#img01 div.background_img{ /* Primeira imagem de fundo */
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#img02 div.background_img{ /* Segunda imagem de fundo */
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.bloco div#bg_image_bloco1{
    background-image: url(imagens/background001.jpg);
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}









